*.pyc
*.sqlite3
*.DS_Store
page_category_model.mwb.bak
.idea/
tango_with_django_project/rango/migrations/*
tango_with_django_project/rango/__pycache__/
tango_with_django_project/tango_with_django_project/__pycache__/
